/* Created by Jehanna Fisher
	 developer: jsfisher4@eagles.usi.edu, last updated 11/2/25  
	
	The Main CSS is used for all html for similar formatting and objects
*/

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.circle{
	width:50px;
	height:50px;
	border: 5px solid #000;
	border-radius: 50%;
	background-color:white;
	position:absolute;
	opacity:1;
	transition: margin-top 0.6s ease, margin-left 0.6s ease,opacity 0.6s ease;
	display:block;

}

a{
	text-decoration: none;
}

body{
	background-color:#FEF5F1;
}

/*Centers mostly everything*/
.main-box, h1, body, .nav-box{
	font-family:'Roboto Condensed', sans-serif;
	font-weight:500;
	overflow-x:hidden;
	margin:0px;
	padding:0px;
}

.nav-box, .home-options-box, .money-options-box, .main-box{
	text-align:center;
}


p,h3{
	font-family:'Didact Gothic', sans-serif;
}

/*Navbar Settings*/
.nav-box{
	/*background-color: #F05E23;*/
	letter-spacing:3px;
	text-align:center;
	text-transform:uppercase;
}

.nav-container{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}

.nav-list{
	letter-spacing:normal;
	text-transform:none;
	list-style-type:none;
	display:inline-block;
}

.nav-list li{
	display:inline-block;
	/*overflow:hidden;*/
}

.nav-img{
	width:250px;
	padding:20px;
	display:inline-block;
	overflow:hidden;
	border-radius:50px;
}

.nav-buttona, .nav-buttonb{
	text-decoration:none;
	display:inline-block;
	overflow:hidden;
	/*background-color: #F05E23;*/
	padding:20px;
	padding-right:30px;
	padding-left:30px;
	color:black;
	font-size:25px;
	border-radius:5px;
}

.nav-buttona{
	color:#fcf8f1;
}

.nav-buttonb{
	color:#190402;
}

.nav-buttona:hover, .nav-buttonb:hover{
	background-color: rgba(87, 45, 36, 0.5);
}


/*Re-used Formatting*/
.main-heading{
	color:black;
	background-color: #F05E23;
	padding:50px;
}

.second-heading{
	color:#402206;/*#FDF3ED;*/
	/*background-color: #402206;*/
	padding:20px;
	border-bottom: 5px solid #402206 ;
	display:inline-block;
	width:90%;
}

.orange-space{
	text-align:center;
	color:black;
	background-color:#F05E23;
}

.light-space{
	text-align:center;
	color:black;
	background-color: #FEF5F1;/*#FA8C75;*/

}

.white-space{
	height:50px;
	color:black;
}

.main-img{
	width:80%;
	border-radius:20px;
	text-align:center;
}

.title-header{
	background-color:#FEF5F1;
	padding:5px;
	padding-top:20px;
	margin-top:50px;
}

/*Tables Formatting*/

table{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border:solid 0.5px black;
	border-collapse: collapse;
}

th, td {
	font-family:'Didact Gothic', sans-serif;
	padding:10px;
}

th{
	background-color:#EC7741;
	border:solid 0.5px black;
}
tr{
	background-color:#F9D3C2;
}
tr:nth-child(odd){
	background-color:#F6A484;
}

tr:hover{
	background-color:#FFFFFF;
}

tfoot{
	text-align:left;
}

/*Form Settings*/

fieldset{
	text-align:left;
}

.form{
	display:block;
	font-family:'Didact Gothic', sans-serif;
}

input,textarea, select{
	padding:5px;
	/*margin-top:15px;*/
	margin-bottom:15px;
}

label, input{
	font-family:'Didact Gothic', sans-serif;
}

fieldset{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	margin-bottom:15px;
}